*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0;
}
.header{
    background-color: #d64810;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 30px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
    width: max-content;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}
/*AOXDML
    wiztln
    419171614
*/
.header .nav-links li a:hover{
    color: #ffffff;
}

.header .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

.nav-toggle{
    background: none;
    border: none;
    font-size: 30pxs;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

@media (max-whidth: 768px){
    body{
        background-color: white;
    }

}

footer {
    background-color: #d64810;
    
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteiner{
    color: #fffefe;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    
}

.izquierdo{
    background: rgb(20, 20, 20);
    height: 100vh;
    width: 50%;

}

.derecho{
    background: url(./Filme/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}

#pantalla_div{
    display: flex;
}