*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

body{
    background-color: #6C4C4C;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0;
}
.header{
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    /*/position: fixed;
    /top: 0;
    left: 0;
    width: 100%;*/
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 30px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
    width: max-content;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.header .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

.nav-toggle{
    background: none;
    border: none;
    font-size: 30pxs;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

@media (max-whidth: 768px){
    body{
        background-color: white;
    }

}

footer {
    background-color: #1b3039;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icon-container {
    color: whitesmoke;
}

.conteiner{
    color: #e2f1f8;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    
}